@mixin center-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @content;
}

@mixin flex-column($gapSize : 10px) {
    display: flex;
    flex-direction: column;
    gap: $gapSize;
}